@model Mentor_Management_System.Models.MentorViewModel
@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<h1 class="text-black">Welcome @Model.User.User_First_Name</h1>