@{
    Layout = "~/Views/Shared/_FacultyPanelLayout.cshtml";
    ViewData["Title"] = "Faculty Dashboard";
}

<h1>@Model</h1>
<h1>@ViewBag.FacultyId</h1>

<a asp-action="Logout" asp-controller="Faculty" class="btn btn-primary"> Logout </a>



